
<div>

{{#if data}}

  <h2>My peeks</h2>
  <button type="click" id="send-email-btn" class="btn btn-default btn-primary">Send Reminder Email</button>

  <div class="row">
    <div class="col-sm-3"><h4>Date</h4></div>
    <div class="col-sm-7"><h4>Meetup</h4></div>
  </div>

  {{#each data as |meetup|}}
    <div class="row">
       <div class="col-sm-3" >
         <h6>{{formatTime meetup.time "hh:mm a"}}</h6>
         <h4>{{formatTime meetup.time "MMMM Do"}}</h4>
       </div>
       <div class="col-sm-7" >
         <h6>{{meetup.group}}</h6>
         <h4><a href="{{meetup.event_url}}" target="_blank">{{meetup.name}}</a></h4>
       </div>
       <div class="col-sm-2">
         <button class="btn btn-xs btn-danger" meetup-id="{{meetup.id}}" id="meetup-cancel-reminder"
           role="button">Cancel reminder!</button>
       </div>
     </div>
  {{/each}}

{{else}}
    <h2>You have no meetups! Sad!</h2>
{{/if}}

</div>
